<div class="categories-nav">
  <% if (categories.length) { %>
    <ul>
      <% categories.map((categoryObj) => { %>
        <li>
          <a href="/category/<%= categoryObj.category %>"><%= categoryObj.category %></a>
          <% if (locals.delete && categoryObj.category !== 'unassigned') { %>
          <a class="category-edit" href="/edit/category/<%= categoryObj.category %>">
            <%- include("../../public/assets/icons/edit.svg") %>
          </a>
          <a class="category-delete" href="/delete/category/<%= categoryObj.category %>">
            <%- include("../../public/assets/icons/delete.svg") %>
          </a>
            <% } %>
        </li>
      <% }) %>
    </ul>
  <% } else { %>
    <p>There are 0 categories.</p>
  <% } %>
</div>