<form action="/<%= path %>" method="post">
  <h2><%= action %> Category</h2>
  <ul>
    <li>
      <label for="category">Category</label>
      <input id="category" name="category" type="text" value="<%= locals.inputs?.category ?? '' %>" <%= locals.action === 'delete' ? 'readonly' : '' %>>
      <% if (locals.errors?.category) { %>
        <p><%= errors.category.msg %></p>
      <% } %>
    </li>

    <% if (locals.password) { %>
      <li>
        <label for="password">Password</label>
        <input id="password" name="password" type="password">
        <% if (locals.errors?.password) { %>
          <p><%= errors.password.msg %></p>
        <% } %>
      </li>
    <% } %>
  </ul>
  <button type="submit"><%= action %> Category</button>
</form>