<header>
  <nav>
    <ul class="nav-left">
      <li>
        <a href="/">
          <%- include("../../public/assets/icons/undraw_logistics.svg") %>
        </a>
      </li>
    </ul>

    <ul class="nav-right">
      <li class="nav-item">
        <a href="/home" class="<%= title === 'Home' ? 'active' : '' %>">Home</a>
      </li>

      <li class="nav-item drop-down">
        <a href="/categories" class="<%= title === 'Categories' ? 'active' : '' %>">Categories</a>
        <%- locals.categories && include('./categories', { categories }) %>
      </li>

      <li class="nav-item">
        <a href="/category/add" class="<%= title === 'Add Category' ? 'active' : '' %>">Add Category</a>
      </li>

      <li class="nav-item">
        <a href="/item/add" class="<%= title === 'Add Item' ? 'active' : '' %>">Add item</a>
      </li>
    </ul>
  </nav>

  <%- include('./notifications') %>
  <%- locals.success && include('./notifications') %>
</header>
