<% /* %>
<% if (locals.editItem) { %>
  <form action="/edit/item" method="post">
    <h2>Add Item</h2>
    <ul>
      <li>
        <label for="category">Category</label>
        <input id="category" name="category" type="text" value="<%= locals.inputs ? inputs.category: 'Unassigned' %>">
        <% if (locals.errors?.category) { %>
          <p><%= errors.category.msg %></p>
        <% } %>
      </li>
    
      <li>
        <label for="name">Item Name:</label>
        <input id="name" name="name" type="text" value="<%= locals.inputs ? inputs.name: '' %>">
        <% if (locals.errors?.name) { %>
          <p><%= errors.name.msg %></p>
        <% } %>
      </li>
    
      <li>
        <label for="upc">UPC:</label>
        <input id="upc" name="upc" inputmode="numeric" oninput="this.value = this.value.replace(/\D+/g, '')" value="<%= locals.inputs ? inputs.upc: '' %>">
        <% if (locals.errors?.upc) { %>
          <p><%= errors.upc.msg %></p>
        <% } %>
      </li>
      
      <li>
        <label for="quantity">Quantity</label>
        <input id="quantity" name="quantity" type="number" value="<%= locals.inputs ? inputs.quantity: '' %>">
        <% if (locals.errors?.quantity) { %>
          <p><%= errors.quantity.msg %></p>
        <% } %>
      </li>
      
      <li>
        <label for="price">Unit price:</label>
        <input id="price" name="price" type="number" step="0.01" value="<%= locals.inputs ? inputs.price: '' %>">
        <% if (locals.errors?.price) { %>
          <p><%= errors.price.msg %></p>
        <% } %>
      </li>
    </ul>
    <button type="submit">Delete Item</button>
  </form>
<% } else if (locals.deleteItem) { %>
  <form action="/delete/item" method="post">
    <h2>Add Item</h2>
    <ul>
      <li>
        <label for="category">Category</label>
        <input id="category" name="category" type="text" value="<%= locals.inputs ? inputs.category: 'Unassigned' %>" disabled>
        <% if (locals.errors?.category) { %>
          <p><%= errors.category.msg %></p>
        <% } %>
      </li>

      <li>
        <label for="name">Item Name:</label>
        <input id="name" name="name" type="text" value="<%= locals.inputs ? inputs.name: '' %>" disabled>
        <% if (locals.errors?.name) { %>
          <p><%= errors.name.msg %></p>
        <% } %>
      </li>

      <li>
        <label for="upc">UPC:</label>
        <input id="upc" name="upc" inputmode="numeric" oninput="this.value = this.value.replace(/\D+/g, '')" value="<%= locals.inputs ? inputs.upc: '' %>" disabled>
        <% if (locals.errors?.upc) { %>
          <p><%= errors.upc.msg %></p>
        <% } %>
      </li>

      <li>
        <label for="quantity">Quantity</label>
        <input id="quantity" name="quantity" type="number" value="<%= locals.inputs ? inputs.quantity: '' %>" disabled>
        <% if (locals.errors?.quantity) { %>
          <p><%= errors.quantity.msg %></p>
        <% } %>
      </li>

      <li>
        <label for="price">Unit price:</label>
        <input id="price" name="price" type="number" step="0.01" value="<%= locals.inputs ? inputs.price: '' %>" disabled>
        <% if (locals.errors?.price) { %>
          <p><%= errors.price.msg %></p>
        <% } %>
      </li>
    </ul>
    <button type="submit">Delete Item</button>
  </form>
<% } else { %>
  <form action="/add/item" method="post">
    <h2>Add Item</h2>
    <ul>
      <li>
        <label for="category">Category</label>
        <input id="category" name="category" type="text" value="<%= locals.inputs ? inputs.category: 'Unassigned' %>">
        <% if (locals.errors?.category) { %>
          <p><%= errors.category.msg %></p>
        <% } %>
      </li>
  
      <li>
        <label for="name">Item Name:</label>
        <input id="name" name="name" type="text" value="<%= locals.inputs ? inputs.name: '' %>">
        <% if (locals.errors?.name) { %>
          <p><%= errors.name.msg %></p>
        <% } %>
      </li>
  
      <li>
        <label for="upc">UPC:</label>
        <input id="upc" name="upc" inputmode="numeric" oninput="this.value = this.value.replace(/\D+/g, '')" value="<%= locals.inputs ? inputs.upc: '' %>">
        <% if (locals.errors?.upc) { %>
          <p><%= errors.upc.msg %></p>
        <% } %>
      </li>
      
      <li>
        <label for="quantity">Quantity</label>
        <input id="quantity" name="quantity" type="number" value="<%= locals.inputs ? inputs.quantity: '' %>">
        <% if (locals.errors?.quantity) { %>
          <p><%= errors.quantity.msg %></p>
        <% } %>
      </li>
      
      <li>
        <label for="price">Unit price:</label>
        <input id="price" name="price" type="number" step="0.01" value="<%= locals.inputs ? inputs.price: '' %>">
        <% if (locals.errors?.price) { %>
          <p><%= errors.price.msg %></p>
        <% } %>
      </li>
    </ul>
    <button type="submit">Add Item</button>
  </form>
<% } %>
<% */ %>

<form action="/<%= action %>/item<%= locals.password ? '/' + locals.inputs.upc : ''%>" method="post">
  <h2><%= action %> Item</h2>
  <ul>
    <li>
      <label for="category">Category</label>
      <input id="category" name="category" type="text" value="<%= locals.inputs ? inputs.category: 'Unassigned' %>" <%= locals.action === 'delete' ? readonly : '' %>>
      <% if (locals.errors?.category) { %>
        <p><%= errors.category.msg %></p>
      <% } %>
    </li>

    <li>
      <label for="name">Item Name:</label>
      <input id="name" name="name" type="text" value="<%= locals.inputs ? inputs.name: '' %>" <%= locals.action === 'delete' ? readonly="readonly" : '' %>>
      <% if (locals.errors?.name) { %>
        <p><%= errors.name.msg %></p>
      <% } %>
    </li>

    <li>
      <label for="upc">UPC:</label>
      <input id="upc" name="upc" inputmode="numeric" oninput="this.value = this.value.replace(/\D+/g, '')" value="<%= locals.inputs ? inputs.upc: '' %>" <%= locals.action === 'delete' ? readonly="readonly" : '' %>>
      <% if (locals.errors?.upc) { %>
        <p><%= errors.upc.msg %></p>
      <% } %>
    </li>
    
    <li>
      <label for="quantity">Quantity</label>
      <input id="quantity" name="quantity" type="number" value="<%= locals.inputs ? inputs.quantity: '' %>" <%= locals.action === 'delete' ? readonly="readonly" : '' %>>
      <% if (locals.errors?.quantity) { %>
        <p><%= errors.quantity.msg %></p>
      <% } %>
    </li>
    
    <li>
      <label for="price">Unit price:</label>
      <input id="price" name="price" type="number" step="0.01" value="<%= locals.inputs ? inputs.price: '' %>" <%= locals.action === 'delete' ? readonly="readonly" : '' %>>
      <% if (locals.errors?.price) { %>
        <p><%= errors.price.msg %></p>
      <% } %>
    </li>

    <% if (locals.password) { %>
      <li>
        <label for="password">Password</label>
        <input id="password" name="password" type="password">
        <% if (locals.errors?.password) { %>
          <p><%= errors.password.msg %></p>
        <% } %>
      </li>
    <% } %>
  </ul>
  <button type="submit"><%= action %> Item</button>
</form>