<article>
  <p>name: <%= name %></p>
  <p>upc: <%= upc %></p>
  <p>quantity: <%= quantity %></p>
  <p>unit price: <%= price %></p>
  <p>total price: <%= (price * quantity) %></p>
  <a href="/item/delete/<%= upc %>/<%= category %>">
    <%- include("../../public/assets/icons/delete.svg") %>
  </a>
  <a href="/item/edit/<%= upc %>/<%= category %>">
    <%- include("../../public/assets/icons/edit.svg") %>
  </a>

</article>