<!DOCTYPE html>
<html lang="en">
  <%- include('./head') %>
  <body>
    <%- include('./header') %>
    <main>
      <section id="add-category">
        <%- locals.success && include('./success') %>
        <%- include('./success') %>
        <%- include('./categoryForm') %>
      </section>
    </main>
    <%- include('./footer') %>
  </body>
</html>