<!DOCTYPE html>
<html lang="en">
<%- include('./head') %>
<body>
  <link rel="stylesheet" href="/styles/add.css">
  <%- include('./header') %>
  <main>
    <section id="add-item">
      <form action="/add/item" method="post">
        <h2>Add Item</h2>
        <ul>
          <li>
            <label for="category">Category</label>
            <input id="category" name="category" type="text" value="<%= locals.inputs ? inputs.category: '' %>">
            <% if (locals.errors && errors.category) { %>
              <p><%= errors.category.msg %></p>
            <% } %>
          </li>

          <li>
            <label for="item">Item:</label>
            <input id="item" name="item" type="text" value="<%= locals.inputs ? inputs.item: '' %>">
            <% if (locals.errors && errors.item) { %>
              <p><%= errors.item.msg %></p>
            <% } %>
          </li>

          <li>
            <label for="upc">UPC:</label>
            <input id="upc" name="upc" inputmode="numeric" oninput="this.value = this.value.replace(/\D+/g, '')" value="<%= locals.inputs ? inputs.upc: '' %>">
            <% if (locals.errors && errors.upc) { %>
              <p><%= errors.upc.msg %></p>
            <% } %>
          </li>
          
          <li>
            <label for="quantity">Quantity</label>
            <input id="quantity" name="quantity" type="number" value="<%= locals.inputs ? inputs.quantity: '' %>">
            <% if (locals.errors && errors.quantity) { %>
              <p><%= errors.quantity.msg %></p>
            <% } %>
          </li>
          
          <li>
            <label for="price">Unit price:</label>
            <input id="price" name="price" type="number" step="0.01" value="<%= locals.inputs ? inputs.price: '' %>">
            <% if (locals.errors && errors.price) { %>
              <p><%= errors.price.msg %></p>
            <% } %>
          </li>
        </ul>
        <button type="submit">Add Category</button>
      </form>
    </section>
  </main>
  <%- include('./footer') %>
</body>
</html>