<!DOCTYPE html>
<html lang="en">
<%- include('./head') %>
<body>
  <link rel="stylesheet" href="/styles/add.css">
  <%- include('./header') %>
  <main>
    <section id="add-item">
      <%- locals.success && include('./success') %>
      <%- include('./success') %>
      <%- include('./itemForm.ejs') %>
    </section>
  </main>
  <%- include('./footer') %>
</body>
</html>