<!DOCTYPE html>
<html lang="en">
  <%- include('./head') %>
<body>
  <%- include('./header') %>
  <main>
    <section id="category">
      <h2><%= category %></h2>
      <%- include('./items') %>
    </section>
  </main>
  <%- include('./footer') %>
</body>
</html>